{% extends "layouts/base.njk" %}

{% block content %}
	<noscript>hey uh you kinda need javascript for this</noscript>
	<div class="container">
		<header>
			{% include "partials/blogheader.njk" %}
		</header>
		<main class="border">
			<h2>{{title}}</h2>
			<time id="post-date">{{ date | topDate }}</time>
			<ul id="post-tags" class="flex-list"></ul>

			{{content | safe}}
		</main>
		<div id="c_widget"></div>
		<script src="/assets/js/comment-widget.js"></script>
		<div id="post-nav"></div>
	</div>

	<footer>
		{% include "partials/footer.njk" %}
	</footer>
	<script src="/assets/js/blog.js"></script>
{% endblock %}