{% extends "layouts/base.njk" %}

{% block content %}
<noscript>hey uh you kinda need javascript for this</noscript>
    <div class="container">
        <header>
            {% include "partials/header.njk" %}
        </header>
        {{ content | safe}}
    </div>
<footer id="footer">
    {% include "partials/footer.njk" %}
</footer>
{% endblock %}
