/* GENERAL SHIT */

body {
    background-image: url(/assets/media/images/style/rice_paper_dithered.png);
    background-size: cover;
    background-color: #FBFAF9;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #22211B;
}

a {
    color: #5D6156;
}

a:hover {
    color: #9E9A72;
}


/* UTILITY SHIT */

.border, .rounded {
    border-radius: 0.4rem;
    border: none;
}

.main-background {
        background-color: rgba(250, 250, 250, 0.8);
}

.card-background {
    background-color: rgba(222, 216, 206, 0.8);
}

/* LAYOUT SHIT */

main,
#collections {
    background-color: rgba(250, 250, 250, 0.8);
}

#gingko {
    max-width: 60%;
    display: inline;
    margin-bottom: 1.2rem;
    opacity: 80%;
}

#antlers {
    display: none
}

.nav-link {
    background-color: #5D6156;
    opacity: 90%;
    color: #FBFAF9;
        
    /* SEPARATE INTO SKIN CLASS LATER */
    li a {
        color: #FBFAF9;
    }
    
    li a:hover {
        color: #DED9CE;
    }
}

nav {
    padding: 0.4rem;
}

aside {
    background-color: rgba(222, 216, 206, 0.8);
    
    a {
        color: #474738;
    }
}

select {
    color: #FBFAF9;
    background-color: #474738;
}

option:hover {
    color: #FBFAF9;
    background-color: #5D6156;
}


/* MUSIC PLAYER SHIT */

#musicplayer {
    background: #FBFAF9;
    color: #22211B;
}

.playpause-track {
    color: #5d6156;
}

.prev-track,
.next-track {
    color: #5d6156;
}

.volume-icon {
    color: #22211B;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #5D6156;
}

input[type=range]::-webkit-slider-thumb {
    background: #5D6156;
    -webkit-appearance: none;
    appearance: none;
}

input[type=range]::-moz-range-track {
    background: #5D6156;
}

input[type=range]::-moz-range-thumb {
    background: #5D6156;
    border: none;
}


/* OTHER SHIT */
#cdr{
  color: #22211B;
}


/* BLOG SHIT */

#c_widget button,
#c_widget input[type=submit] {
    background-color: #5D6156;
    color: #FBFAF9;
}

#c_widget button:hover,
#c_widget input[type=submit]:hover {
    color: #DED9CE;
}

#c_widget button:disabled:hover,
#c_widget input[type=submit]:disabled:hover {
    color: #FBFAF9;
}

/* Input section */
#c_inputDiv {
    background-color: #DED9CE;
}

#c_widgetTitle {
    background-color: #5D6156;
    color: #FBFAF9;
}

.c-input:focus {
    border: 0.06rem solid #9E9A72;
}

/* Comment section */
.c-comment {
    background-color: #DED9CE;
}

.c-reply {
    background-color: #FBFAF9;
}

.c-site {
    color: #5D6156;
}

.c-site:hover {
    color: #9E9A72;
}

.c-text {
    background-color: #FBFAF9;
    margin: 1rem -1.6rem 1.4rem;
    padding: 1.4rem 1.8rem 1.4rem 2.6rem;
}


.post-list {
    -webkit-padding-start: var(--gap);
    padding-inline-start: var(--gap);
    list-style-type: "";
    text-indent: calc(-1 * var(--gap));
    font-size: var(--interface-font-size);

    li {
        margin-bottom: 0.8rem;
    }
}

#tag-index {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    list-style-type: "";

    details {
        margin-block: 0;
    }

    [open] {
        -webkit-margin-after: 1rem;
        margin-block-end: 1rem;
    }

    summary {
        margin-bottom: 0.8rem;
        font-size: 1rem;
    }
}

article>header {
    -webkit-margin-after: 1rem;
    margin-block-end: 1rem;
    -webkit-padding-after: 1rem;
    padding-block-end: 1rem;
    -webkit-border-after: var(--line);
    border-block-end: var(--line);

    h1 {
        -webkit-margin-after: .5rem;
        margin-block-end: .5rem;
        font-size: 2.2rem;
    }

    &+* {
        -webkit-margin-before: 0;
        margin-block-start: 0;
    }
}

#post-date {
    margin-left: 2.4rem;
}

#post-tags {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-block: 0.8rem;

    &>li:not(:last-child)::after {
        content: "/a0/a0/a0/a0/a0/a0/a0"
    }

    a::before {
        content: "#"
    }

    li {
        list-style-type: '';
        margin-left: 0;
        margin-bottom: 0.8rem;
    }
}

#post-nav>ul {
    margin-top: 2.4rem;
    display: -ms-grid;
    display: grid;
    font-weight: 700;
    -ms-grid-columns: 1fr var(--gap) 1fr;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    list-style-type: "";

    &>:last-child {
        text-align: right;
    }
}

/* MEDIA QUERY SHIT */

@media only screen and (orientation:portrait) {

    .return {
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        position: fixed;
        bottom: 6.4rem;
        right: .8rem;
        width: fit-content;
        height: auto;
        padding: .8rem;
        border-radius: 1rem;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: #5D6156;
        opacity: 90%;
        font-size: smaller;

        a {
        color: #FBFAF9;
        }
    }

    #gingko {
        max-width: 75%;
    }
    
    .c-comment, .c-reply {
        font-size: 1.2rem;
    }
    
    .c-text {
        padding: 1.4rem 1.8rem 1.4rem 1.6rem;
    }
}