<a href="https://cervidaze.me">
	<img id="gingko" alt="home page" src="/assets/images/style/cervidaze_lightbanner.png">
</a>
<a href="https://cervidaze.me">
	<img id="antlers" alt="home page"
		src="/assets/images/style/cervidaze_darkbanner.png">
</a>
<nav class="border main-background nav-link">
	<ul>
		<li><a href="/">return home</a></li>
		<li><a href="/blog">blog</a></li>
		<li><a href="/blog/tags">tags</a></li>
		<li><a href="/blog/archive">archive</a></li>
		<li>
			<div aria-label="styleswitcher">
				<select class="rounded" name="styleswitcher" onchange="setStyle(this.value)">
					<option value="1" selected="true" disabled="disabled">theme</option>
					<option value="/assets/css/light">light</option>
					<option value="/assets/css/dark">dark</option>
				</select>
			</div>
		</li>
	</ul>
</nav>