<nav class="border main-background nav-link">
            <ul>
                <li><a href="/sitemap">sitemap</a></li>
                <li>|</li>
                <li><a href="/about#connect">contact</a></li>
                <li>|</li>
                <li><a href="/guestbook">guestbook</a></li>
                <li>|</li>
                <li><a href="/credits">credits</a></li>
            </ul>
</nav>

<div class="display-none return main-background">
<a href="#top" rel="return">return to top</a>
</div>